/* General styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    text-align: center;
    align-items: center;
        --s: 90px; /* control the size*/
        --c1: #ffffff;
        --c2: #d6d4d5;
        --c3: #949494;
        
        --_g: 0 120deg,#0000 0;
        background:
        conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
        conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
        conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
        conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
        conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
        conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
        conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
        background-size: calc(var(--s)*1.732) var(--s);
    }


    header .nav {
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
  }  

  body .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 100px;
    font-size: 3vw;
  }

.dark{
    display: flex;
    position: absolute;
    right: 10px;
    top: 75px;
    padding-bottom: 20px;
    align-items: center;
    gap: 5px;
}
.dark h1 {
    font-size: 20px;
}
  
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 200px;
        background: rgb(208,5,28);
        background: linear-gradient(83deg, rgba(208,5,28,1) 0%, rgba(78,1,10,1) 100%);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
      .nav,
      .nav .nav-links {
        display: flex;
        align-items: center;
      }
      .nav {
        justify-content: space-between;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      .nav .logo {
        font-size: 22px;
        font-weight: 500;
      }
      .nav .nav-links {
        column-gap: 20px;
        list-style: none;
      }
      .nav .nav-links a {
        transition: all 0.2s linear;
      }
      .nav.openSearch .nav-links a {
        opacity: 0;
        pointer-events: none;
      }
      .nav .search-icon {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }
      .nav .search-box {
        position: absolute;
        right: 200px;
        height: 45px;
        max-width: 555px;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s linear;
      }
      .nav.openSearch .search-box {
        opacity: 1;
        pointer-events: auto;
      }
      .search-box .search-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        left: 15px;
        color: #ee1f30;
        transform: translateY(-50%);
      }
      .search-box input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: #fff;
        padding: 0 15px 0 45px;
      }
      
      .nav .navOpenBtn,
      .nav .navCloseBtn {
        display: none;
      }
      
      /* responsive */
      @media screen and (max-width: 1160px) {
        .nav {
          padding: 15px 100px;
        }
        .nav .search-box {
          right: 150px;
        }
      }
      @media screen and (max-width: 950px) {
        .nav {
          padding: 15px 50px;
        }
        .nav .search-box {
          right: 150px;
          max-width: 350px;
        }
      }
      @media screen and (max-width: 768px) {
        .nav .navOpenBtn,
        .nav .navCloseBtn {
          display: block;
        }
        .nav {
          padding: 15px 20px;
        }
        .nav .nav-links {
          position: fixed;
          top: 0;
          left: -100%;
          height: 100%;
          max-width: 280px;
          width: 100%;
          padding-top: 100px;
          row-gap: 30px;
          flex-direction: column;
          background-color: #11101d;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.4s ease;
          z-index: 100;
        }
        .nav.openNav .nav-links {
          left: 0;
        }
        .nav .navOpenBtn {
          color: #fff;
          font-size: 20px;
          cursor: pointer;
        }
        .nav .navCloseBtn {
          position: absolute;
          top: 20px;
          right: 20px;
          color: #fff;
          font-size: 20px;
          cursor: pointer;
        }
        .nav .search-box {
          top: calc(100% + 10px);
          max-width: calc(100% - 90px);
          right: 56%;
          transform: translateX(50%);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
      }


/* Container styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container > section {
    background: rgb(208,5,28);
    background: linear-gradient(180deg, rgba(208,5,28,0.5760679271708684) 2%, rgba(171,9,27,1) 32%, rgba(141,15,29,1) 100%);
    border-radius: 18px;
    padding: 25px;
    margin: 20px;
    margin-top: 20px;
    line-height: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 40px);
    min-width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #fff0f2;
}

.container > div {
    background: rgba(141,15,29,1);
    border-radius: 13px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    min-width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #fff0f2;
}
.freecon{
    font-size: 15px;
    line-height: 30px;
    word-spacing: 2px;
}
.freecon li:hover{
    font-size: 30px;
}
.assessm li{
    padding-left: 30px;
    margin-top: 10px;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    font-weight: lighter;
}

h2 {
    border-bottom: 2px solid #fff0f2;
    padding-bottom: 20px;
    line-height: 50px;
    font-size: 2rem;
    color: #fff0f2;
}

ul {
    font-size: large;
    padding-left: 20px;
    text-align: left;
    line-height: 20px;
    color: #ffdee2;
}
p3 {
    font-size:smaller;
    color: #ff5d6f;
}

h4 {
    font-size: 20px;
    padding: 5px 10px;
    text-align: left;
    color: #ffffff;
    border: solid 3px #fbfdf8 ;
    border-radius: 10px;
    width: fit-content;
}
h4:hover{
    transition: .5s;
    font-size: 30px;
    padding: 10px;
}
p {
    color: #ffdee2;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}


/* Responsive design */
@media (max-width: 100px) {
    .container {
        flex-direction: column;
        max-width: fit-content;
    }
    .container > section {
        flex: 1 1 100%;
    }
}



/* CONTACT */

#contact {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    align-items: center;
  }
  .touch {
    font-size: 1.5rem;
    text-align: center;
  }
  .contact-title {
    font-size: 3rem;
    text-align: center;
  }
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.5rem solid;
    border-color: #f70b26;
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  #contact a {
    color: black;
    margin: 10px;
  }


@media screen and (max-width: 600px) {
.contact-info-upper-container{
flex-wrap: wrap;
}
.contact-info-container p2 {
  font-size: .8rem;
}
}





  /* FOOTER */
  footer {
    padding: 20px;
    color: #110f0f;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}
.external-links {
    background: #ffc2c9;
    padding: 20px;
    margin: 20px;
    margin-top: 40px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.external-links h2 {
    font-size: 50px;
    color: #4e010a;
}

.external-links ul {
    list-style-type: none;
    padding: 0;
}

.external-links li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.external-links a {
    padding-top: 20px;
    color: #8d0f1d;
    text-decoration: none;
}

.external-links a:hover {
    text-decoration: underline;
}



h3 {
    text-align: center;
    color: #4e010a;
    font-size: .9rem;
}

footer p {
    text-align: center;
}

footer .nav-links {
    padding-top: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
}

footer .nav-links a{
    color: black;
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    transition:.5s;

}
footer .nav-links a:hover {
    font-size: 30px;
    color: #ff5d6f;
}

@media screen and (max-width: 1000px) {
    footer {
    height: 50vh;
    font-size: 30px;
    margin-top: 5px;
    }
    footer .nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    footer .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        font-size: 20px;
    }
    footer p{
        margin-bottom: 0px;
        padding-top: 10px;
    }
    footer h3{
        padding-top: 50px;
        bottom: 20px;
    }
}








/* DARK MODE */
body {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #0d1021;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


body.dark-mode {
    background: linear-gradient(135deg, #333 0%, #111 100%);
    color: #ddd;
}

body.dark-mode header nav {
    background: linear-gradient(135deg, #444 0%, #222 100%);
}
body.dark-mode header {
    color: #ddd;
}

body.dark-mode .container > section {
    background: #444;
    color: #ddd;
}
body.dark-mode .container > div {
    background: #444;
    color: #ddd;
}
body.dark-mode ul{
    color: #ddd;
}

body.dark-mode nav a {
    border-radius: 10px;
    padding: 0 10px 0 10px;
    color: #ffffff;
}

body.dark-mode nav .menu-links {
    color: #ffffff;
}

footer.dark-mode nav a {
    border-radius: 10px;
    padding: 0 10px 0 10px;
    color: #ffffff;
}
footer.dark-mode nav a:hover {
    border-radius: 10px;
    font-size: 30px;
}

body.dark-mode h3 {
    color: #ffdee2;
}

body.dark-mode p{
    color: #ffdee2;
}
body.dark-mode p3{
    color: #999999;
}
body.dark-mode #contact a {
    color: #ffdee2;
}